@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");

body {
   font-family: "Lato", sans-serif;
   font-style: normal;
}
h1 {
   font-weight: 900;
   font-size: 46px;
   line-height: 130%;
   color: #1e212c;
}
h2 {
   font-weight: 700;
   font-size: 20px;
   line-height: 150%;
   color: #1e212c;
}
.block1 p {
   font-weight: 400;
   font-size: 16px;
   line-height: 160%;
   color: #424551;
}

.block2 p {
   font-weight: 700;
   font-size: 20px;
   line-height: 150%;
   color: #1e212c;
}
h3,
ul {
   font-weight: 400;
   font-size: 16px;
   line-height: 160%;
   color: #424551;
}
footer p {
   font-weight: 400;
   font-size: 16px;
   line-height: 160%;
   color: #424551;
}
